.ToggleButtonMenu {
    padding: 0px;
    background-color: transparent;
    display: flex;
}

.ToggleButton {
    flex: 1;
    font: inherit;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid black;
    color: black;

}

.ToggleButton.Mui-selected {
    border: 5px solid red;
}

.ToggleButton:hover {
    transition-duration: 0.3s;
    /*color: gray;*/
}