.ToggleButtonMenu {
    padding: 0px;
    margin-top: 10px;
    background-color: transparent;
}

.ToggleButton {
    font: inherit;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid black;
    color: black;

}

.ToggleButton:hover {
    transition-duration: 0.3s;
    /*color: gray;*/
}