.Checkbox {
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    
}

.Checkbox:hover {
    transition-duration: 0.3s;
    /*color: gray;*/
    border: 2px solid gray;
}

.Checkbox:active {
    border: 2px solid rgb(80, 80, 80);
}

/*
.Checkbox:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
*/

.Checkbox:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Checkbox {
    color: #5C9210;
}

.Checkbox {
    color: #944317;
}

.Checkbox {
    color: white;
    border: 2px solid white;
}

.Checkbox {
    color: black;
    border: 2px solid black;
}