.LightBox {
    background-color: transparent;
    border: 1px solid black;
    /*border-radius: 3px;*/
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: normal;
    font-size: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    /* Square boxes */
    margin: auto;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    
    /* Prevent selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.DarkBox {
    background-color: transparent;
    border: 1px solid white;
    /*border-radius: 3px;*/
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: normal;
    font-size: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    /* Square boxes */
    margin: auto;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    
    /* Prevent selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.Box:hover {
    transition-duration: 0.2s;
    /*color: gray;*/
    border: 1px solid gray;
}

/*
.Box:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
*/