.Box {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    transition-duration: 0.3s;
    margin: auto;
}

.Box:hover {
    /*color: gray;*/
    border: 1px solid gray;
}

/*
.Box:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
*/