.Button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    transition-duration: 0.3s;
}

.Button:hover {
    /*color: gray;*/
    border: 2px solid gray;
}

/*
.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

*/
.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}