.Button {
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:hover {
    transition-duration: 0.3s;
    /*color: gray;*/
    border: 2px solid gray;
}

.Button:active {
    border: 2px solid rgb(80, 80, 80);
}

/*
.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}
*/

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Main {
    color: white;
    border: 2px solid white;
}

.NewModal {
    color: black;
    border: 2px solid black;
}

.NewModal:hover {
    transition-duration: 0.3s;
    /*color: gray;*/
    border: 2px solid #a8a8a8;
}