.FeedItem {
    border: 2px solid black;
    text-align: center;
    width: auto;
    box-sizing: border-box;
    margin: 16px auto;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}

.SubItem {
    text-align: center;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    margin: 16px auto;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
}

.Comment {
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 16px auto;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    width: 100%;
}