.LightModal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    padding: 12px;
    left: 15%;
    top: 92px;
    box-sizing: border-box;
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}

.DarkModal {
    position: fixed;
    z-index: 500;
    background-color: rgb(24, 24, 24);
    width: 70%;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    padding: 12px;
    left: 15%;
    top: 92px;
    box-sizing: border-box;
    transition-duration: 0.3s;
    animation-timing-function: ease-in;
}

@media (min-width: 600px) {
    .Modal {
        width: 800px;
        left: calc(50% - 400px);
    }
}